$fontPath: '/assets/fonts/';
$imagePath: '/assets/images/';

/* *** FONTS *** */
$RobotoBold: "RobotoBold";
$RobotoLight: "RobotoLight";
$RobotoMedium: "RobotoMedium";
$RobotoRegular: "RobotoRegular";

/* *** COLORS *** */
$white: #fff;
$black: #000;
