html,
body {
  font-family: $RobotoRegular;
}

main {
  padding-top: 50px;
}

.b-section {
  .section-title {
	margin: 40px 0;
	text-transform: uppercase;
  }

  &.contacts {
	.address {
	  margin-bottom: 20px;
	}

	img {
	  margin-bottom: 20px;
	}
  }
}

.b-images {
  .row {
	margin-bottom: 40px;
  }
}

.b-solution {
  margin: 40px 0;
}

.b-main-slider {
  .carousel-caption {
	bottom: 40px;
  }
}

.carousel {
  &.not-shadow {
	.carousel-control {
	  text-shadow: 0 5px 3px rgba(0, 0, 0, .6);

	  &.right,
	  &.left {
		background-image: none;
		background-repeat: repeat-x;
		filter: none;
	  }
	}
  }
}

.carousel-inner {
  & > .item {
	min-height: 130px;

	img {
	  vertical-align: middle;
	}

	&:before {
	  content: '';
	  width: 1px;
	  height: 100%;
	  display: inline-block;
	  vertical-align: middle;
	}
  }
}
